@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
@import "node_modules/mdi/scss/materialdesignicons.scss";


@import "variables";
$font: "Lato", sans-serif;

#logo {
	background-image: url(automat.svg);
    display: inline-block;
    background-size: contain;
    width: 248px;
    position: absolute;
    height: 51px;
    top: 9px;
    background-size: contain;
    background-repeat: no-repeat;
	margin-right: 20em;
}
body {
	font-family: $font;
	margin: 0;
	padding: 0;
	background-color: lighten($colorBase, 75%);
	font-size: 125%;
}

nav {
	padding: 1em;
	background-color: $colorBase;
	color: lighten($colorBase, 10%);
	display: flex;
	justify-content: space-between;
	border-bottom: 5px solid lighten($colorBase, 10%);
	a:first-of-type{
		margin-left: 10em;
	}
	a {
		color: lighten($colorBase, 30%);
		text-decoration: none;
		transition: all $time;
		padding: 1em 1em;
		&.active,
		&:hover {
			border-bottom: 5px solid $colorBase;
			color: lighten($colorBase, 80%);
			background-color: darken($colorBase, 10%);
		}
		.mdi {
			position: relative;
			top: 3px;
		}
	}
}
main {
	display: flex;
	flex-wrap: wrap;
	section {
		flex: 1;
	}
	section {
		padding: 1em;
	}
}

button {
	font-family: $font;
	color: white;
	background-color: $colorBase;
	font-size: 1.5em;
	padding: 0 1em;
	border-radius: 0.55em;
	border: 1px solid $colorBase;
	outline: 0;
	cursor: pointer;
	transition: all $time;
	color: rgba(white, 0.5);
	&:hover:not(:disabled) {
		background-color: lighten($colorBase, 20%);
		text-shadow: 0 -1px 0 rgba(black, 0.3);
		color: white;
	}
	&+button {
		margin-left: 0.5em;
	}
}
input,
textarea {
	padding: 0.5em;
	font-size: 1.5em;
	font-family: $font;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	color: $colorBase;
}
h1 {
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
	width: 100%;
	th {
		color: $colorBase;
	}

	tbody {
		border-top: 1px solid $colorBase;
		border-bottom: 1px solid $colorBase;
		&:nth-child(even) {
			background-color: lighten($colorBase, 80%);
		}
		&:hover {
			cursor: pointer;
			tr:first-of-type {
				color: white;
				background-color: $colorBase;
			}
			.mdi {
				color: rgba(white, 0.5);
				transition: color $time;
				&.mdi-delete {
					&:hover {
						color: white;
					}
				}
			}
		}
		td {
			padding: 0.5em;
			&:last-child {
				//text-align: right;
			}
		}
		tr:last-of-type {
			td {
				vertical-align: top;
			}
		}
	}
}

.route {
	display: flex;
	flex-direction: column;
	label {
		flex-direction: column;
		display: flex;
		input,
		textarea {
			flex: 1;
		}
		margin-bottom: 1em;
	}
	&>section {
		align-items: stretch;
		justify-content: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		aside {
			margin-right: 1em;
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		aside+aside {
			margin-right: 0;
		}
	}
	footer {
		border-top: 1px solid $colorBase;
		padding-top: 1em;
		margin-top: 1em;
		display: flex;
		justify-content: flex-end;
	}
	&.run, &.runner {
		display: flex;
		flex-direction: column;
		article {
			display: flex;
			flex-direction:
			section {
				display: block;
			}
		}
	}
}

.loading {
	overflow: hidden;
	position: relative;
	height: 10px;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		height: 3px;
		width: 50%;
		background-color: lighten($colorBase, 5%);
		animation-name: loading;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		box-shadow: 0 0 5px lighten($colorBase, 20%);
		z-index: 1000;
	}
}

@keyframes loading {
	0% {
		left: -100%;
	}
	100% {
		left: 100%;
	}
}

select {
	font-family: $font;
	font-size: 1.2em;
	option {
		padding: 0 0.5em;
		cursor: pointer;
	}
	&[multiple] {
		min-height: 10em;
	}
}

::selection {
	background: $colorBase; /* WebKit/Blink Browsers */
	color: white;
}
::-moz-selection {
	background: $colorBase; /* Gecko Browsers */
	color: white;
}
