{{outlet}}

<h2>Run test</h2>
Project
{{#power-select options=model.projects onchange=(action "projectSelect") as |name|}}
	{{name}}
{{/power-select}}
Suite
{{#power-select options=model.suites onchange=(action "projectSelect") as |name|}}
	{{name}}
{{/power-select}}
