<nav>
	<section>
		<b>Automat</b>
		{{#link-to "dashboard"}}<i class="mdi mdi-dashboard"></i> Dashboard{{/link-to}}
		{{#link-to "test"}}<i class="mdi mdi-test-tube"></i> Test pool{{/link-to}}
		{{#link-to "test.run"}}<i class="mdi mdi-play-arrow"></i>Run test{{/link-to}}
		{{#link-to "test.create"}}<i class="mdi mdi-control-point"></i> Create test{{/link-to}}
		{{#link-to "test.import"}}<i class="mdi mdi-file-upload"></i> Import{{/link-to}}
	</section>
	<section>
		{{#link-to "user"}}User{{/link-to}}
	</section>
</nav>
{{outlet}}
