<nav>
	<section>
		<b id="logo"></b>
		{{#link-to "index"}}<i class="mdi mdi-dashboard"></i> Dashboard{{/link-to}}
		{{#link-to "run"}}<i class="mdi mdi-play-arrow"></i>Run test{{/link-to}}
		{{#link-to "test"}}<i class="mdi mdi-list"></i> Test pool{{/link-to}}
		{{#link-to "import"}}<i class="mdi mdi-file-upload"></i> Import{{/link-to}}
		{{#link-to "create"}}<i class="mdi mdi-control-point"></i> Create test{{/link-to}}
	</section>
	<section>
		{{#link-to "user"}}<i class="mdi mdi-face"></i> User{{/link-to}}
	</section>
</nav>
{{outlet}}
