<nav>
	<section>
	
		{{#link-to "index" id="logo"}}{{/link-to}}
		{{#link-to "run"}}<i class="fa fa-play"></i> Run test{{/link-to}}
		{{#link-to "test"}}<i class="fa fa-list"></i> Test pool{{/link-to}}
		{{#link-to "import"}}<i class="fa fa-upload"></i> Import{{/link-to}}
		{{#link-to "create"}}<i class="fa fa-plus-circle"></i> Create test{{/link-to}}
	</section>
	<section>
		{{#link-to "user"}}<i class="fa fa-user"></i> User{{/link-to}}
	</section>
</nav>
{{outlet}}
