<nav>
	<section>
		<b>Automat</b>
		{{#link-to "test"}}Test pool{{/link-to}}
		{{#link-to "test.run"}}Run test{{/link-to}}
		{{#link-to "test.dashboard"}}Dashboard{{/link-to}}
		{{#link-to "test.create"}}Create test{{/link-to}}
	</section>
	<section>
		{{#link-to "user"}}User{{/link-to}}
	</section>
</nav>

{{outlet}}
