<main>
	<section>
		<table>
			<tr>
				<th>Name</th>
				<th>Result</th>
				<th>Runned</th>
			</tr>

		{{#each model as |test|}}
			<tr>
				<td>
					{{test.name}}
				</td>
				<td>
					{{test.runs.lastObject.result}}
				</td>
				<td>
					{{moment-from-now test.runs.lastObject.date}}
				</td>
			</tr>
		{{/each}}
		</table>
	</section>
</main>
