<h1>Test Pool</h1>

<table>
  <tr>
    <th>Suite</th>
    <th>Name</th>
  </tr>
{{#each model as |test|}}
  <tr>
    <td>{{test.suiteName}}</td>
    <td>{{test.name}}</td>
  </tr>
{{/each}}
</table>


{{outlet}}
