<h1>Test Pool</h1>

<table>
  <tr>
    <th>Suite</th>
    <th>Name</th>
  </tr>
  <tbody>
	{{#each model as |test|}}
		{{#unless test.isNew}}
			<tr>
		    	<td>{{test.suiteName}}</td>
		    	<td>{{test.name}}</td>
		  	</tr>
	  	{{/unless}}
	{{/each}}
	</tbody>
</table>


{{outlet}}
